.main-article {
	margin-top: -25vh;
	background-color: $white;
}

.main-article--image {
	background-image: url("../../src/images/pour-mug.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 500px;
}

.article-description {
	height: 100%;
	text-align: center;
	margin: auto;
	width: 50%;
	padding: 100px 0;
}