.hero-bg {
    background:
        // linear-gradient(to right, transparent, #000 30%, #000 0%, transparent),
        url('../../src/images/www.knobcreek.com-1293609732325191.jpg') ;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    text-align: left;
    color: white;
    p {
        opacity: 0.7;
    }
    @media screen and (min-width: $breakpoint-l) {
        padding-left: 100px;
    }
    @media screen and (max-width: $breakpoint-md) {
        text-align: center;
    }
}
