.navbar {
    line-height: 0;
    width: 100%;
    background-color: #1e1e1e;
    z-index: 9999;
    padding: 19px 34px 19px 54px;
    overflow: auto;
}

.nav-items--social {
    float: right;
    display: inline-block;
    padding-top: 7px;
        a {
            text-decoration: none;
            padding-left: 10px;
        i {
            color: $brand-color-tan;
            font-size: 24px;
            &:hover {
                color: $white;
            }
        }
    }
}

.navbar__footer {
    .nav-items--social { float: left; }
    .brand-logo { float: right; }
}

.brand-logo { height: 38px; }

.navbar-social-share {
    text-transform: uppercase;
    color: $brand-color-tan;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}